/* Colour Palette: */
/* yakult creame: rgb(255, 215, 215)
   yakult red:  */

/* GLOBAL STYLES */

/* 
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* setting default to 10px */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}


html,
body {
    height: 100%;
    margin: 0;
}

body {
    background: rgb(59, 59, 59);
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    line-height: 1.4;
}

/* Basic styles for the navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(104, 104, 104);
    /* Green background */
    color: #fff;
}

/* Logo styling */
.logo a {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

/* Navigation links styling */
.nav-links {
    display: flex;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s, text-decoration 0.3s, background-color 0.3s;
    padding: 5px 10px;
}

.nav-links a:hover,
.nav-links a.active {
    color: #e0e0e0;
    /* Lighter color for active/hover */
    background-color: rgb(24, 24, 24);
    /* Darker green background on hover */
    border-radius: 4px;
    /* Optional: rounded corners */
}

/* Menu toggle button for mobile view */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    background-color: rgb(116, 116, 116);
    height: 3px;
    width: 25px;
    margin: 5px;
}

/* Responsive styling */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: rgb(151, 151, 151);
        /* Green background for mobile view */
    }

    .nav-links.active {
        display: flex;
    }

    .nav-links li {
        margin: 10px 0;
        text-align: center;
    }

    .menu-toggle {
        display: flex;
    }
}

h1,
h2,
h3 {
    font-family: "Archivo Black", sans-serif;
    font-weight: 100;
    margin: 0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2.4rem;
}


/* LINKS */

a {
    color: rgb(244, 232, 255);
}

a:hover {
    color: antiquewhite;
    text-decoration: none;
}

footer a:hover {
    color: rgb(145, 145, 145);
}

.btn {
    background: rgb(216, 216, 216);
    color: rgb(138, 138, 138);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    display: inline-block;
    padding: 7px;
    letter-spacing: 0.1em;
    line-height: 1;
    border-radius: 4px;
}

.content-wrapper {
    margin: 0 auto;
    padding: 30px;
    max-width: 900px;
}

/* PROFILE */

.project-item {
    margin: 30px 0;
}

.project-item img {
    width: 300px;
}

@media screen and (min-width:860px) {
    .project-item {
        display: flow-root;
    }

    .project-item img {
        float: left;
        margin-right: 20px;
    }
}

@media screen and (min-width:650px) and (max-width:859px) {
    .project-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }

    .project-item img {
        width: 100%;
    }
}

@media screen and (max-width:500px) {
    .project-item img {
        width: 100%;
        margin: 10px;
    }
}



/* HOMEPAGE */

.home {
    background: url(../images/books.jpg) no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.home .content-wrapper {
    flex: 1 0 auto;
}

.content-bg {
    background: rgb(151, 151, 151);
    padding: 30px;
}

@media screen and (max-width:650px) {
    .home .content-wrapper {
        padding: 10px;
    }

    .content-bg {
        padding: 20px;
    }

}

/* WORK EXPERIENCE */

.work-item {
    display: grid;
    grid-template-columns: 300px 1fr;
    column-gap: 20px;
    margin: 30px 0;
}

.work-details p {
    margin: 0;
}

.work.summary p:first-child {
    margin-top: 0;
}

/* RESUME */

.resume header::before {
    background: url(../images/jawbreaker_1920.jpg);
    background-size: cover;
    content: "";
    display: block;
    height: 375px;
}

.resume-section {
    margin-bottom: 50px;
}

.resume-section h2 {
    border-bottom: 10px dashed rgb(173, 173, 173);
}

.download-link {
    position: fixed;
    top: 5px;
    left: 5px;
    font-size: 1.5rem;
}

@media screen and (max-width:1200px) {
    .download-link {
        position: absolute;
    }

}

@media screen and (max-width:500px) {
    .resume header::before {
        height: 200px;
    }

    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 2.6rem;
    }
}

.education-item {
    margin: 30px 0;
}

.education-item p {
    margin: 0;
}

/* FOOTER */

footer {
    background: rgb(86, 86, 86);
}

.socials {
    list-style-type: none;
    padding: 0;
}

.socials li {
    display: inline-block;
    margin-left: 10px;
}

.socials img {
    width: 32px;
}

.socials img:hover {
    opacity: 0.5;
}

@media screen and (min-width:860px) {
    footer {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }
}

@media screen and (max-width:859px) {
    footer {
        text-align: center;
        padding: 10px;
    }
}